# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
src/peer-logs/
src/tracker-logs/
src/tracker-file-logs/

# Test files
src/test.txt

# OS
.DS_Store
Thumbs.db
